[submodule "Accumulator"]
    path = Accumulator
    url = git@github.com:Fraser999/accumulator
[submodule "Config File Handler"]
    path = Config File Handler
    url = git@github.com:Fraser999/config_file_handler
[submodule "Crust"]
    path = Crust
    url = git@github.com:Fraser999/crust
[submodule "Kademlia Routing Table"]
    path = Kademlia Routing Table
    url = git@github.com:Fraser999/kademlia_routing_table
[submodule "LRU Time Cache"]
    path = LRU Time Cache
    url = git@github.com:Fraser999/lru_time_cache
[submodule "Routing"]
    path = Routing
    url = git@github.com:Fraser999/routing
[submodule "SAFE Core"]
    path = SAFE Core
    url = git@github.com:Fraser999/safe_core
[submodule "SAFE Launcher"]
    path = SAFE Launcher
    url = git@github.com:Fraser999/safe_launcher
[submodule "SAFE Network Common"]
    path = SAFE Network Common
    url = git@github.com:Fraser999/safe_network_common
[submodule "SAFE Vault"]
    path = SAFE Vault
    url = git@github.com:Fraser999/safe_vault
[submodule "Secure Serialisation"]
    path = Secure Serialisation
    url = git@github.com:Fraser999/secure_serialisation
[submodule "Self-Encryption"]
    path = Self-Encryption
    url = git@github.com:Fraser999/self_encryption
[submodule "SodiumOxide Extras"]
	path = SodiumOxide Extras
	url = git@github.com:Fraser999/sodiumoxide_extras
[submodule "Utilities"]
    path = Utilities
    url = git@github.com:Fraser999/maidsafe_utilities
