[submodule "Accumulator"]
	path = Accumulator
	url = git@github.com:Fraser999/accumulator
[submodule "Crust"]
	path = Crust
	url = git@github.com:Fraser999/crust
[submodule "Drive"]
	path = Drive
	url = git@github.com:Fraser999/drive
[submodule "LRU Time Cache"]
	path = LRU Time Cache
	url = git@github.com:Fraser999/lru_time_cache
[submodule "Memory Map"]
	path = Memory Map
	url = git@github.com:Fraser999/memory_map
[submodule "Message Filter"]
	path = Message Filter
	url = git@github.com:Fraser999/message_filter
[submodule "Routing"]
	path = Routing
	url = git@github.com:Fraser999/routing
[submodule "SAFE Client"]
	path = SAFE Client
	url = git@github.com:Fraser999/safe_client
[submodule "SAFE DNS"]
	path = SAFE DNS
	url = git@github.com:Fraser999/safe_dns
[submodule "SAFE FFI"]
	path = SAFE FFI
	url = git@github.com:Fraser999/safe_ffi
[submodule "SAFE Launcher"]
	path = SAFE Launcher
	url = git@github.com:Fraser999/safe_launcher
[submodule "SAFE NFS"]
	path = SAFE NFS
	url = git@github.com:Fraser999/safe_nfs
[submodule "SAFE Vault"]
	path = SAFE Vault
	url = git@github.com:Fraser999/safe_vault
[submodule "Self-Encryption"]
	path = Self-Encryption
	url = git@github.com:Fraser999/self_encryption
[submodule "Sentinel"]
	path = Sentinel
	url = git@github.com:Fraser999/sentinel
