[submodule "Accumulator"]
    path = Accumulator
    url = git@github.com:Fraser999/accumulator
[submodule "Chunk Store"]
    path = Chunk Store
    url = git@github.com:Fraser999/chunk_store
[submodule "Config File Handler"]
    path = Config File Handler
    url = git@github.com:Fraser999/config_file_handler
[submodule "Crust"]
    path = Crust
    url = git@github.com:Fraser999/crust
[submodule "Drive"]
    path = Drive
    url = git@github.com:Fraser999/drive
[submodule "Get Interface Addresses"]
    path = Get Interface Addresses
    url = git@github.com:Fraser999/get_if_addrs
[submodule "Kademlia Routing Table"]
    path = Kademlia Routing Table
    url = git@github.com:Fraser999/kademlia_routing_table
[submodule "LRU Time Cache"]
    path = LRU Time Cache
    url = git@github.com:Fraser999/lru_time_cache
[submodule "Message Filter"]
    path = Message Filter
    url = git@github.com:Fraser999/message_filter
[submodule "NAT Traversal"]
    path = NAT Traversal
    url = git@github.com:Fraser999/nat_traversal
[submodule "Routing"]
    path = Routing
    url = git@github.com:Fraser999/routing
[submodule "SAFE Core"]
    path = SAFE Core
    url = git@github.com:Fraser999/safe_core
[submodule "SAFE Launcher"]
    path = SAFE Launcher
    url = git@github.com:Fraser999/safe_launcher
[submodule "SAFE Network Common"]
    path = SAFE Network Common
    url = git@github.com:Fraser999/safe_network_common
[submodule "SAFE Vault"]
    path = SAFE Vault
    url = git@github.com:Fraser999/safe_vault
[submodule "Secure Serialisation"]
    path = Secure Serialisation
    url = git@github.com:Fraser999/secure_serialisation
[submodule "Self-Encryption"]
    path = Self-Encryption
    url = git@github.com:Fraser999/self_encryption
[submodule "Service Discovery"]
    path = Service Discovery
    url = git@github.com:Fraser999/service_discovery
[submodule "Socket Address"]
    path = Socket Address
    url = git@github.com:Fraser999/socket_addr
[submodule "Transport"]
    path = Transport
    url = git@github.com:Fraser999/transport
[submodule "Utilities"]
    path = Utilities
    url = git@github.com:Fraser999/maidsafe_utilities
